<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card rounded-3">
            <div class="card-body p-4">
  
              <h4 class="text-center my-3 pb-3">To Do App</h4>
  
              <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
                <div class="col-12">
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="form1" class="form-control" name="taskstring" [(ngModel)]="taskstring"/>
                    <label class="form-label" for="form1" >Enter a task here</label>
                  </div>
                </div>
  
                <div class="col-12">
                  <button type="submit" [disabled]="isEdit"   data-mdb-button-init data-mdb-ripple-init class="btn btn-primary" (click)="save()">Save</button>
                </div>
  
                <div class="col-12">
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning"  [disabled]="!isEdit" (click)="anotherEdit()">Update</button>
                </div>
              </form>
  
              <table class="table mb-4">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Todo item</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    @for (task of arr; track $index) {
                    <tr >
                        <th scope="row">{{$index + 1}}</th>
                        <td><input #taskinput type="text"class="form-control" [ngClass]="{'edit':task.iseditable, 'update':!task.iseditable, 'check':task.iscompleted}" id="task" value="{{ task.taskname }}" [readOnly]="task.iseditable" ></td>
                        <td><input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" (click)="ischecked(index)"></td>
                        <td>
                            <button (click)="editTask(index,taskinput)" [disabled]="task.iseditable">Edit</button>
                            <button (click)="deleteTask(index)">Delete</button>
                        </td>
                      </tr>
                    }
                </tbody>
              </table>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
